<ng-content select="h1"></ng-content>
<p>olaa</p>
<hr>
<p [ngClass]="{'active': valor, 'disabled': !valor}">NGCLASS</p>
<p [ngStyle]="{'height':heigthPx , 'background': backgroundColor}">NGSTYLE</p>

<hr>
<input [(ngModel)]="nome">{{nome}}
<button (click)="salvar()">Salvar</button>
<li *ngFor="let item of list">{{item.nome}}</li>

<p *ngFor="let item of list">{{item.nome | uppercase}}</p>
<ng-template [ngIf]="true">
  <p>
    True
  </p>
</ng-template>
<ng-template ngFor let-item [ngForOf]=" list">
  <p>
    {{item.nome}}
  </p>
</ng-template>
<input [(ngModel)]="nome">{{nome}}
<button (click)="salvar()">Salvar</button>
<hr>
{{date | date: 'dd/mm/yyyy'}}
<ng-content select="h3"></ng-content>
