<div class="flex flex-col  justify-center">

  <h1 class="text-2xl">Interpolation</h1>

<div class="flex justify-center">

  <h2>{{nome}} tem {{idade}} anos</h2>
  <p>{{ idade > 32}}</p>
</div>


  <hr>
  <h2>Property Binding</h2>
  <button [disabled]="checkedDisabled">Button</button>

  <input [(ngModel)]="nome">
  {{nome}}
  <hr>
  <button (click)="alertInfo($event)">Eventos</button>
  <div (mousemove)="mouseMoveTest($event)" style="background: red; width: 300px; height: 300px;"></div>
  {{position.x}} |  {{position.y}}
  <hr>
  <img class="flex " [src]="imgSrc" [title]="imgTitle"  width="300" height="300">
</div>


