<form #form="ngForm">
  <label>Nome:</label>
  <input type="text" name="nome" ngModel>
   <br>
   <br>
  <label>Masculino</label>
  <input type="radio" name="sexo" value="masculino" ngModel>
  <br>
  <label>Feminino</label>
  <input type="radio" name="sexo" value="feminino" ngModel>
  <br>
  <label>Outros</label>
  <input type="radio" name="sexo" value="outros" ngModel>
  <br>
  <br>
  <label>Angular</label>
  <input type="checkbox" name="angular" ngModel>
  <br>
  <label>Vue</label>
  <input type="checkbox" name="vue" ngModel>
  <br>
  <label>React</label>
  <input type="checkbox" name="react" ngModel>
  <br>
  <br>
  <select name="comidas" ngModel>
     <option value="">selecione uma opção de comida</option>
            <option *ngFor="let item of listComidas" [ngValue]="item">{{item.comida}} - {{item.preco}}</option>
  </select>
</form>
<br>
<br>
<br>
<br>
{{ form.value | json }}
